*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul,li{
    margin:0px;
    padding:0px;
    list-style:none;
}

a {
    text-decoration: none;
}

.wrapper{
    border:1px solid red;
}

.wrapper .main-content{
    border:1px solid red;
    position: fixed;
    bottom:0px;
    top:0px;
    left:0px;
    right:0px;
}

.wrapper .main-content .col-left{
    float:left;
    border:1px solid red;
    background:#1f1f1f;
    width: 25%;
    position: absolute;
    bottom:0px;
    top:0px;
}

.wrapper .main-content .col-left .logo{
   width:100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.wrapper .main-content .col-left .logo img{
    width:150px;
}

.wrapper .main-content .col-left .main-menu{
    margin-top: 15px;
}

.wrapper .main-content .col-left .main-menu ul li a{
    color:#fff;
    background: #4c4c4c;
    display: block;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
    font-weight: 600;
}

.wrapper .main-content .col-left .playlists{
    padding:20px;
}
.wrapper .main-content .col-left .playlists > h5{
    color: #cdcdcd;
    text-transform: uppercase;
}

.wrapper .main-content .col-left .playlists .playlist-cta a{
    color:#ffffff;
    display: flex;
    align-items: center;
    margin-top:10px;
}
.wrapper .main-content .col-left .playlists hr{
    margin-top: 10px;
}

.wrapper .main-content
.col-left .playlists
.playlist-cta a .rect-icon{
    width:30px;
    height:30px;
    background: white;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .main-content
.col-left
.playlists
.playlist-cta a
.gradient-icon{
    background: rgb(130,129,150);
    background: linear-gradient(153deg, rgba(130,129,150,1) 0%, rgba(41,41,41,1) 0%, rgba(103,115,255,1) 90%);
    color:white;
}



.wrapper .main-content
.col-left .playlists
.playlist-cta a .text{
    margin-left:5px;
}

.wrapper .main-content .col-left .my-playlists{
    margin-top:10px;
    height: 230px;
    overflow-y: auto;
}

.wrapper .main-content .col-left .my-playlists li{
    margin-top: 10px;
}

.wrapper .main-content .col-left .my-playlists li a{
    font-size: 14px;
    color:white;
}
